# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
cudatoolkit
matplotlib
numpy
opencv=3.4.2
pandas
pillow
python=3.7
pytorch
rope
scikit-learn
seaborn
torchvision
tqdm